  <div class="alert"><%= alert %></div>
  <%= form_with url: sessions_path, local: true do |form| %>
      <div class="field-input">
        <%= form.text_field :username, class: "username-entry", placeholder: "Username", required: true%>
      </div>
      <div class="field-input">
        <%= form.password_field :password, class: "password-entry", placeholder: "Password", required: true%>
      </div>
    <input type="submit" class="login-form-submit">
  <% end %>
