<div class="comments-div">
  <div class="commenter">
    <%= image_tag User.find(comment.user_id).image, class: "comment-profile-photo"%>
    <%= User.find(comment.user_id).username %>
  </div>
  <div class="comment-body">
    <%= comment.body %>
  </div>
</div>
