
  <div>
    User <%= comment.user_id %>:
    <%= comment.content %>
    <p><small>Posted at <%= comment.created_at.strftime("%H:%M:%S %B %Y")%></p></small>
    <%= link_to "Delete", [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' } %> 

  </div>
  </p>
