<h3>Post a Comment</h3>

<%= form_for [ @post, @comment ] do |f| %>
  <div class="textarea-container">
    <%= f.text_area :body, id: 'comment-textarea' %>
  </div>
  <%= f.submit 'Submit', id: 'new-comment-button' %>
<% end %>