<h3>Post a Comment</h3>

<%= form_for [ @post, @comment ] do |f| %>
  <p>
    <%= f.text_area :body, id: 'comment-textarea' %>
  </p>
  <p>
    <%= f.submit 'Submit', id: 'new-post-button' %>
  </p>
<% end %>