<center>
  <h1>Went to see Spiderman</h1> 
  <button type="button">Comment</button>
  <button type="button">Like</button>
  <ul>
    <% @comments.each do |comment| %>
      <li>
      <%= comment.users_id %>:
        <%= comment.content %>
        <%= comment.created_at.to_s(:time) %>
      </li>
    <% end %>
  </ul>
</center>
