<% @comments.each do |comment| %>
    <p class="comments"><%= comment.body %>
    <br>Posted by: <%= User.find(comment.user_id).username %>
    </p>
<% end %>

<%= link_to new_post_comment_path do %>
    New comment
  <% end %>
