<div class="mt-5 row align-items-start">
  <div class="col-5">
    <div class="container d-flex justify-content-center align-items-center" >



    <% @users.each do |user| %>
      <% if user != @user %>  <!-- removes current user from everyone list -->
          <div class="card" id="profile-card">
              <div class="user text-center">
                  <div class="profile mt-3"> <%= image_tag default_avatar(user.image_url), :style =>  'width: 80px;', :class => "rounded-circle"%> </div>
              </div>
              <div class="mt-3 text-center">
                  <h4 class="mb-0"><%=user.first_name %> <%= user.last_name %></h4> 
                  
                  <button class="btn btn-primary btn-sm follow">Send request</button>
                  <div class="d-flex justify-content-center align-items-center mt-4 px-4">
                      <div class="stats">
                          <h6 class="mb-0">Mutual friends</h6> <span>0</span>
                      </div>
                  </div>
              </div>
          </div>
      <% end %>
    <% end %>

    </div>
  </div>
</div>


