<h1>List of Users</h1>


  <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
  <button type="submit" class="btn btn-outline-primary">search</button>


<div>
<% @users.each do |user| %>
<ul class="list-group">
  <li class="list-group-item"><%= user.username %></li>
 <li class="list-group-item"><%= user.email %></li>
  </ul>
<% end %>
</div>