<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Acebook</title>
</head>
<h1> Welcome to Acebook </h1>
  <body>
     <%= flash[:notice] %>
    <h2>Sign up</h2>
    <form action='/users' method='post'>
      <input type="text" name="first_name" placeholder="First name" required>
      <br>
      <input type="text" name="last_name" placeholder="Last name" required>
      <br>
      <input type="email" name="email" placeholder="email" required>
      <br>
      <input type="text" name="picture" placeholder="picture url" required>
      <br>
      <input type="password" name="password" placeholder="password" required>
      <br>
      <input type="submit" value="Create account">
    </form>

    <h2>Log in</h2>
    <form action='/sessions' method='post'>
      <input type="email" name="email" placeholder="email" required>
      <br>
      <input type="password" name="password" placeholder="password" required>
      <br>
      <input type="submit" value="Log in">
    </form>
  </body>
</html> 