<h1>List of Users</h1>

<form action="/search">
  <input type="search" name="q" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
  <div id="search">
    <button type="submit" class="btn btn-outline-primary">search</button>
  </div>
</form>

<div id="friends">

<% @users.each do |user| %>
    <% if !current_user.friends.include?(user) && user != current_user  %>
        <ul class="list-group">
          <li class="list-group-item"><%= user.username %></li>
          <li class="list-group-item">
            <%= link_to "Add Friend", friendships_path(:friend_id => user.id), :method => :post %>
          </li>
        </ul>
  <% end %>
<% end %>
</div>

<div id="page_num">
<%= raw pagy_bootstrap_nav(@pagy) %>
</div>
