<h2> Search Results</h2>

<% @users.each do |user| %>
<ul class="list-group">
  <li class="list-group-item"><%= user.username %></li>
 <li class="list-group-item"><%= user.email %></li>
  </ul>
<% end %>