<%= @user.name %>

<% if @user == current_user %>
  <h2>My Friend Requests </h2>
<% end %>

<h2> <%= @user.name%>'s Friends</h2>

<% my_friends(@user.id).each do |friend| %>
  <%@friend = User.find(friend.friend_id)%>
  <p> <%= link_to @friend.name, user_path(@friend) %> </p>
<% end %>