 <nav class="navbar navbar-expand-lg navbar-light bg-primary" style="background-color: #e3f2fd;">
   <div class="container-fluid">
     <a class=" text-white  navbar-brand" href="/"><img src="/images/logo_white.png" height="40" /></a>
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
       aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="nav navbar-right">
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <% if Current.user %>
          <%= button_to 'Logout', logout_path, method: :delete %>
         <% else %>
         <%= link_to 'Sign Up', sign_up_path %>
          <%= link_to 'Login', sign_in_path %>
         <% end %>
       </div>
     </div>
   </div>
 </nav>