<% if Current.user != nil %>

<div class="d-flex flex-column card my-2 p-1">
  <%= form_for @post do |f| %>
    <%= f.text_area :message, :id => "post-text-area", :placeholder => "What's on your mind?", :class => "form-control"%>
    <div class="d-flex flex-row justify-content-between">
      <a class="btn btn-primary m-1" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        <i class="bi bi-camera-fill"></i>
      </a>
      <%= f.submit "Post", :class => 'btn btn-primary btn-sm m-1'%>
    </div>
    <div class="collapse m-2" id="collapseExample">
      <%= f.file_field :photo , :class => 'form-control', :type => 'file' %>
    </div>
  <% end %>
</div>

<% end %>

