<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <% if user_signed_in? %>
    <a class="navbar-brand" href="/posts">Acebook</a>
  <% else %>
    <a class="navbar-brand" href="/">Acebook</a>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
      <li class="nav-item">
          <%= "Signed in as #{current_user.username}" %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users">List Of Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/edit">Settings</a>
        </li>
        <li class="nav-item">
          <%= button_to "Log out", destroy_user_session_path, method: :delete  %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>