<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <% if user_signed_in? %>
    <strong><a class="navbar-brand" href="/posts">Acebook</a></strong>
        <%= image_tag(current_user.avatar.variant(resize_to_limit: [50, 50]), class: 'rounded-circle') %>
        <a class="nav-link" href=#> <%= "Signed in as #{current_user.username}" %></a>
  <% else %>
    <a class="navbar-brand" href="/">Acebook</a>
  <% end %>

  <div class="navbar-header">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
      <li class="nav-item">
        <a class="nav-link" href="/users">Search Users</a>
      </li>           
      <li class="nav-item">
        <a class="nav-link" href="/users/edit">Profile Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"> <%= button_to "Log out", destroy_user_session_path, method: :delete  %> </a>
      </li>
      <% end %>
    </ul>
  </div>

</nav>

