<div class="hero is-fullheight"> 
  
  <div class="hero-body">
    <div class='container.is-max-desktop columns is-vcentered is-centered p-6 mx-auto'>

      <div class="column is-5-desktop has-text-centered-mobile" id="home-welcome">
        <div class="is-size-1 has-text-link has-text-weight-bold">
          <h1>AceBook</h1>
        </div>
        <div class="is-size-4 has-text-weight-semibold">
          <p>Acebook helps you connect and share with the people in your life.</p>
        </div>
      </div>

      <div class="column is-4-desktop p-4 box" id="home-login">

        <%= form_for(:session, url: login_path) do |f| %>
        <div class="field mt-1">
          <div class="control">
            <%= f.email_field :email, class: 'input', placeholder: 'Email address'%>
          </div>
          
        </div>

        <div class="field">
          <div class="control">
            <%= f.password_field :password, class: 'input is-success', placeholder: 'Password'%>
          </div>
         
        </div>

        <div class="field">
          <div class="control">
            <%= f.submit "Log In", class: 'button is-link is-fullwidth has-text-weight-bold'%>

          </div>
        </div>

        <p class="help is-link has-text-weight-bold is-size-6 has-text-centered">Forgotten password?</p>

        <hr />

      <% end %>

        <div class="field mb-2">
          <div class="control has-text-centered">
            <a href="/users/new"><button class="button is-success p-5 has-text-weight-bold">Create New Account</button></a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="hero-foot has-background-white p-6">
      <ul class="uiList localeSelectorList _2pid _509- _4ki _6-h _6-j _6-i" data-nocookies="1" style='list-style-type: none; margin: 0px; padding: 8px 0px 0px; align-items: center; display: flex; flex-wrap: wrap; color: rgb(115, 115, 115); font-family: system-ui, -apple-system, "system-ui", ".SFNSText-Regular", sans-serif; font-size: 12px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;'>
        <li style="border-width: 0px; display: inline-block; vertical-align: top; padding-left: 0px; padding-right: 0px;">English (UK)</li>
        <li style="border-width: 0px 0px 0px 1px; display: inline-block; vertical-align: top; padding-left: 10px; padding-right: 0px;"><a class="_sv4" dir="ltr" href="https://pl-pl.facebook.com/" style="color: rgb(138, 141, 145); cursor: pointer; text-decoration: none; white-space: nowrap; font-family: inherit; margin-right: 0px;" title="Polish">Polski</a></li>
        <li style="border-width: 0px 0px 0px 1px; display: inline-block; vertical-align: top; padding-left: 10px; padding-right: 0px;"><a class="_sv4" dir="ltr" href="https://es-la.facebook.com/" style="color: rgb(138, 141, 145); cursor: pointer; text-decoration: none; white-space: nowrap; font-family: inherit; margin-right: 0px;" title="Spanish">Espa&ntilde;ol</a></li>
        <li style="border-width: 0px 0px 0px 1px; display: inline-block; vertical-align: top; padding-left: 10px; padding-right: 0px;"><a class="_sv4" dir="ltr" href="https://fr-fr.facebook.com/" style="color: rgb(138, 141, 145); cursor: pointer; text-decoration: none; white-space: nowrap; font-family: inherit; margin-right: 0px;" title="French (France)">Fran&ccedil;ais (France)</a></li>
        <li style="border-width: 0px 0px 0px 1px; display: inline-block; vertical-align: top; padding-left: 10px; padding-right: 0px;"><a class="_sv4" dir="ltr" href="https://it-it.facebook.com/" style="color: rgb(138, 141, 145); cursor: pointer; text-decoration: none; white-space: nowrap; font-family: inherit; margin-right: 0px;" title="Italian">Italiano</a></li>
        <li style="border-width: 0px 0px 0px 1px; display: inline-block; vertical-align: top; padding-left: 10px; padding-right: 0px;"><a class="_sv4" dir="ltr" href="https://lt-lt.facebook.com/" style="color: rgb(138, 141, 145); cursor: pointer; text-decoration: none; white-space: nowrap; font-family: inherit; margin-right: 0px;" title="Lithuanian">Lietuvių</a></li>
        <li style="border-width: 0px 0px 0px 1px; display: inline-block; vertical-align: top; padding-left: 10px; padding-right: 0px;"><a class="_sv4" dir="ltr" href="https://ro-ro.facebook.com/" style="color: rgb(138, 141, 145); cursor: pointer; text-decoration: none; white-space: nowrap; font-family: inherit; margin-right: 0px;" title="Romanian">Rom&acirc;nă</a></li>
        <li style="border-width: 0px 0px 0px 1px; display: inline-block; vertical-align: top; padding-left: 10px; padding-right: 0px;"><a class="_sv4" dir="ltr" href="https://zh-cn.facebook.com/" style="color: rgb(138, 141, 145); cursor: pointer; text-decoration: none; white-space: nowrap; font-family: inherit; margin-right: 0px;" title="Simplified Chinese (China)">中文(简体)</a></li>
        <li style="border-width: 0px 0px 0px 1px; display: inline-block; vertical-align: top; padding-left: 10px; padding-right: 0px;"><a class="_sv4" dir="ltr" href="https://pt-br.facebook.com/" style="color: rgb(138, 141, 145); cursor: pointer; text-decoration: none; white-space: nowrap; font-family: inherit; margin-right: 0px;" title="Portuguese (Brazil)">Portugu&ecirc;s (Brasil)</a></li>
        <li style="border-width: 0px 0px 0px 1px; display: inline-block; vertical-align: top; padding-left: 10px; padding-right: 0px;"><a class="_sv4" dir="ltr" href="https://de-de.facebook.com/" style="color: rgb(138, 141, 145); cursor: pointer; text-decoration: none; white-space: nowrap; font-family: inherit; margin-right: 0px;" title="German">Deutsch</a></li>
        <li style="border-width: 0px 0px 0px 1px; display: inline-block; vertical-align: top; padding-left: 10px; padding-right: 0px;"><a class="_sv4" dir="rtl" href="https://ar-ar.facebook.com/" style="color: rgb(138, 141, 145); cursor: pointer; text-decoration: none; white-space: nowrap; font-family: inherit; margin-right: 0px;" title="Arabic">العربية</a></li>
        <li style="border-width: 0px 0px 0px 1px; display: inline-block; vertical-align: top; padding-left: 10px; padding-right: 0px;"><a class="_42ft _4jy0 _517i _517h _51sy" href="https://www.facebook.com/#" rel="dialog" style="color: rgb(138, 141, 145); cursor: pointer; text-decoration: none; border: 1px solid rgb(204, 208, 213); border-radius: 2px; box-sizing: content-box; font-size: 12px; -webkit-font-smoothing: antialiased; font-weight: bold; justify-content: center; padding: 0px 8px; position: relative; text-align: center; text-shadow: none; vertical-align: middle; transition: background-color 200ms cubic-bezier(0.08, 0.52, 0.52, 1) 0s, box-shadow 200ms cubic-bezier(0.08, 0.52, 0.52, 1) 0s, transform 200ms cubic-bezier(0.08, 0.52, 0.52, 1) 0s; background-color: rgb(245, 246, 247); height: 18px; line-height: 18px; display: inline-block; white-space: nowrap; font-family: inherit; margin-right: 0px;" title="Show more languages"></a></li>
    </ul>
    <div style='border-bottom: 1px solid rgb(221, 223, 226); font-size: 1px; height: 8px; margin-bottom: 8px; font-family: system-ui, -apple-system, "system-ui", ".SFNSText-Regular", sans-serif; color: rgb(115, 115, 115); font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;'><br></div>
    <div class="mvl copyright" style='margin-top: 20px; margin-bottom: 20px; font-size: 11px; font-family: system-ui, -apple-system, "system-ui", ".SFNSText-Regular", sans-serif; color: rgb(115, 115, 115); font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;'>
      <div style="font-family: inherit;">
        <span style="font-family: inherit;">Team On The Rails &copy; 2022</span>
      </div>
    </div>
  </div>

</div>


  