<main>
  <div class="row">
    <div class="col-4">
      <h5>News/Events?</h5>
    </div>
    <div class="col-5">
      <%= render 'shared/post_form' %>
      <%= render 'shared/posts' %>
    </div>
    <div class="col-3">
      <h5>Trending?</h5>
    </div>
  </div>
</main>
