.post-card-muted {
  font-size: 12px;
}

.post-card-container {
  max-height: 30vh !important;
}

#entire_card{
  border: 2px solid #e7e7e7 !important;
}

#post-text-area{
  min-height: 10vh;
}

#header1{
  background-color: #e7e7e7 !important;
}

#comment_form{
  background-color: #e7e7e7 !important;
}

#response_buttons{
  content: ""; /* This is necessary for the pseudo element to work. */ 
  margin: 0 auto; /* This will center the border. */
  width: 90%; /* Change this to whatever width you want. */
  padding-top: 0px; /* This creates some space between the element and the border. */
  border-top: 1px solid #d2d2d2 ; /* This creates the border. Replace black with whatever color you want. */
  border-bottom: 1px solid #d2d2d2;
  text-align: left;
}

hr{
  border-top: 1px solid white;
}

.post-comment-display{
  background-color: #d9d9d9 !important;
  border: 7px solid #d9d9d9 !important;
}

.card-body{
  background-color: white;
}

.card-text{
  font-size: 0.8em;
}

.post-buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.5em;
}

.post-action-buttons{
  border: none;
  background: none;
  color: #335FFF;
}

.post-action-buttons:hover{
  color: white;
background-color: #335FFF;
border-radius: 50%;
}

.rounded-circle{
  box-shadow: none !important;
}

input[type="string"]:focus{
  outline: none;
  border: none;
  box-shadow: none;
  background-color: #f0f0f0;
}

input[type="string"]{
  outline: none;
  border: none;
  box-shadow: none;
  background-color: #f0f0f0;
}

.post-comment-display{
   background-color: #f0f0f0;
   border-radius: 10px;
  display: inline-block;
  flex-direction: column;
  margin-bottom: 0;
}

.comment-content, .comment-title{
  display: block !important;
}

.all-comments-toggle{
  background-color: #f0f0f0;
  border: none;
  font-size: 0.6em;
}

.all-comments-toggle:hover{
  text-decoration: underline;
}

.bi-chat-fill{
  border: none;
  background: none;
  color: #335FFF;
}
