<form> 
  <input type='text' placeholder='First Name' name='first_name'</input><br>
  <input type='text' placeholder='Last Name' name='last_name'</input><br>
  <input type='email' placeholder='Your Email' name='email'</input><br>
  <input type='password' placeholder='Password' name='password'</input><br>
  <input type='password' placeholder='Confirm Password' name='confirm_name'</input><br><br>

  <input type='checkbox' name='T&Cs' 
  <label for='T&Cs'>Click here to agree the <a href="URL TO T&Cs here">T&Cs</a><br><br>

  <input type ='submit' value='Sign Up!'
</form> 





