<div class="comment-container">
  <h4><%= User.find(comment.user_id).username%>:</h4>
  <p class="comment"><%= comment.body %></p>
  <h6>Posted <%= distance_of_time_in_words(Time.now, comment.created_at) %> ago</h6>
</div>