<div class = "container">
  <%=  bootstrap_form_for(@post) do |form| %>

    <%= form.text_field :message, skip_label: true, placeholder: "Write something here!"%>
    <%= form.submit :id => "submit" %>
  <% end %>
</div>
