<h4><%= @post.likes.length%> Likes </h4>
<% if @post.liked?(current_user) %>
  <%= button_to "Like", like_path(@post), method: "put", disabled: true %>
<% else %>
  <%= button_to "Like", like_path(@post), method: "put" %>
<% end %>
