<h4>likes <%= @post.likes.length%> </h4>
<% if @post.liked?(current_user) %>
  <%= button_to "Like", like_path(@posts.post_id), method: "put", disabled: true %>
<% else %>
  <%= button_to "Like", like_path(@posts.post_id), method: "put" %>
<% end %>
