<!-- Writing new posts ------------------------------------------------------------------------------------------------------------------------------------------- -->
<div id="whats-on-your-mind">
  <% @post = Post.new %>
  <%= form_with model: @post, remote: true, id: 'post-form' do |form| %>
    <div class="field has-addons mb-4">
      <div class="control is-expanded"> 
        <%= form.text_field :message, placeholder: "What's on Your Mind?", class: "input is-info is-rounded has-icons-right control", id: 'form-input' %>
        <p id="form-warning" class="help is-danger"></p>
      </div>
      <div class="control">
        <%= form.submit "Post", :class => "button is-info is-rounded has-text-weight-bold"%>
        <%# <button class="button is-info is-rounded has-text-weight-bold">
          Post
        </button> %>
      </div>
    </div> 
  <% end %> 
</div>

