<section class="container">
  <div class="posts">
    <br>
    <div class="margin">
      <% if flash.any? %>
        <% flash.each do |type, msg| %>
          <div>
            <%= msg %>
          </div>
        <% end %>
      <% end %>
    </div>

    <%= render partial: 'posts/new' %>

    <%= render partial: 'posts/post', collection: @posts %>
  </div>
</section>
