<section class="container">
  <div class="posts">
    <h1 class="element-margin">News Feed</h1>

    <div class="element-margin">
      <%= render partial: 'posts/flashes' %>
    </div>

    <%= render partial: 'posts/new' %>

    <%= render partial: 'posts/post', collection: @posts %>
  </div>
</section>
