<br>
<a class="new_post_link" href="/posts/new">New Post</a>

<div class="container">
  <% @posts.each do |post| %>

    <div class="post">
      <article id=<%= post.id%>>
        <a id="username"><%= post.user.username %></a>
        <a id="post_message" href="<%= "/posts/#{post.id}"%></a>
        "> <%= post.message %> </a>
      </article>
    </div>
    <br>
  <% end %>
</div>