<section class="container search">
  
  <%= button_to "Go back", posts_url, method: "get", id: 'go-back-button' %>
  
  <% unless @results.empty? %>
    <div class="posts">
      <%= render partial: 'posts/post', collection: @results %>
    </div>
  <% else %>
    <h3>No posts found</h3>
  <% end %>
  
</section>
