<section class="container">
  <div class="posts">

    <% @username.each do |name| %>
    <h1 class="element-margin">Posts by: <%= name.username %></h1>
    <% end %>

    <%= render partial: 'posts/flashes' %>

    <%= render partial: 'posts/new' %>

    <%= render partial: 'posts/post', collection: @users_posts %>

  </div>
</section>

