<%# All placeholder stuff, need to replace this with logic for likes and comments %>

<section class="post">
  <p>Message: <%= @post.message %></p>

  <section class="likes">
    <span>x likes</span>
    <button>Like</button>
  </section>

  <section class="comments">
    <h2>Comments</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
  </section>
</section>