/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.navbar {
    border-style: solid;
    border-top: black;
    background-color: lightblue;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    min-height: auto;
    display: flex;
    overflow: hidden;
    align-items: center;
}

.navbar img:hover {
    background-color:#551A8B;
    cursor: pointer;
}

.avatar {
    border-radius: 25em;
    object-fit: cover;
    border-style: solid;
    border-color:#551A8B;
    margin-right: 0;
    text-decoration: none;
    height: 30px;
    width: 30px;
}

.navbar a {
    text-decoration: none;
    padding: 1em;
}

.navbar #username {
    text-decoration: none;
    margin-left: auto;
    font-size: 23px;
    font-weight: normal;
}

.navbar #sign-out {
    text-decoration: none;
    font-size: 23px;
    font-weight: normal;
}

.navbar-user-profile-image {
    padding: 0;
}

.navbar a:hover {
    background-color: skyblue;
}

body {
    margin-top: 5em;
    margin-bottom: 1.5em;
    font-family: "Courier New", serif;
    font-size: 1em;
    background-color: ghostwhite;
}