/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*.avatar {*/
/*    background-color: #dfe1e6;*/
/*    border-radius: 25em;*/
/*    cursor: pointer;*/
/*    text-decoration: none;*/
/*    padding: 1em;*/
/*}*/

.navbar {
    overflow: hidden;
    display: flex;
    align-items: center;
    align-content: space-around;
    flex-direction: row;
    background-color: lightblue;
    /*position: fixed;*/
}

.navbar a:hover {
    background-color: skyblue;
}

.navbar img:hover {
    background-color: red;
    cursor: pointer;
}

.avatar {
    border-radius: 25em;
    object-fit: cover;
    border-style: solid;
    border-color: red;
    margin-right: 0;
    text-decoration: none;
}

.navbar-right {
    margin-left: 1px;
}

.username {
    margin-left: auto;
}

a {
    text-decoration: none;
    padding: 1em;
}

body {
    margin-bottom: 30px;
    font-family: "Courier New", serif;
    font-size: 20px;
    background-color: ghostwhite;
}
