#input-form{
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top:40%;
}

#posts {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top:70%;
  overflow: scroll;
  height: 40%;
  width: 70%;
}

#like-section {
  position: relative;
  left: 70%;
  top: -18%;
  
}

#like-count {
  
  top: 0%;
  left: 200%;
}


