.post-form-div {
	background-color: white;
	margin: 20px 0 20px 0;
	padding: 10px;
	border: 1px solid #b5651d;
	box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	display: grid;
	grid-template-columns: 20% 80%;
	vertical-align: middle;
}

#post-form {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#post-input-div {
	width: 100%;
}

#post-message {
	font-family: stitch;
	width: 96%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 5px 2px;
	font-size: 17px;
	resize: vertical;
}

#post-image {
	font-family: stitch;
	font-size: 17px;
	margin-top: 10px;
	margin-left: 25%;
}

#post-submit {
	font-family: stitch;
	border: 0;
	background: white;
	padding: 5px 0;
	width: 20%;
	font-size: 16px;
}

#post-submit:hover {
	background: rgba(0, 0, 0, 0.05);
	cursor: pointer;
}

#post-submit:active {
	transition: 0s;
	background: rgba(0, 0, 0, 0.2);
}

.post-div {
	background-color: white;
	margin: 20px 0 20px 0;
	padding: 10px;
	border: 1px solid #b5651d;
	box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.post-content-author {
	display: grid;
	grid-template-columns: 20% 80%;
}

.poster {
	align-self: center;
}

.post-profile-photo {
	height: 50px;
	padding: 5px;
	border: 1px solid rgba(0,0,0,0.05);
	border-radius: 25%;
}

.post-content {
	text-align: left;
}

.post-image-div {
	text-align: left;
}

.post-image {
	max-width: 80%;
	padding: 10px 10px 0 40px;
}

.post {
	padding: 0 10px 0 40px;
}

.likes-comment-buttons {
	display: grid;
	grid-template-columns: 20% 40% 40%;
	vertical-align: middle;
	border-top: 1px solid rgba(181, 101, 29, 0.3);
	border-bottom: 1px solid rgba(181, 101, 29, 0.3);
}

.likes {
	margin: 0px;
}

.like-button-div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.button_to {
	width: 100%;
	height: 100%;
}

.like-button {
	font-family: stitch;
	border: 0;
	background-color: white;
	margin: 0 5px;
	width: 100%;
	height: 100%;
}

.like-button:hover {
	background: rgba(0, 0, 0, 0.05);
	cursor: pointer;
}

.like-button:active {
	transition: 0s;
	background: rgba(0, 0, 0, 0.2);
}

.comments-toggle {
	font-family: stitch;
	border: 0;
	background: white;
	margin: 0 5px;
}

.comments-toggle:hover {
	background: rgba(0, 0, 0, 0.05);
	cursor: pointer;
}

.comments-toggle:active {
	transition: 0s;
	background: rgba(0, 0, 0, 0.2);
}

.comments-content {
	margin: 15px 0 5px 0;
}

.comments {
	display: grid;
	grid-template-columns: 20% 80%;
	margin: 5px 5px 10px 5px;
}

.commenter {
	vertical-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.comment-profile-photo {
	height: 20px;
	padding: 1px;
	border: 1px solid rgba(0,0,0,0.05);
	border-radius: 25%;
	margin-right: 5px;
}

.comment-body {
	text-align: left;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0 10px 0 40px;
}

.new-comment-form {
	display: grid;
	grid-template-columns: 20% 80%;
}

.comment-form {
	padding-left: 30px;
}

.comment-entry-box {
	font-family: stitch;
	width: 80%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 5px 2px;
}

.comment-submit {
	font-family: stitch;
	border: 0;
	background: white;
	padding: 5px 0;
	width: 17%;
}

.comment-submit:hover {
	background: rgba(0, 0, 0, 0.05);
	cursor: pointer;
}

.comment-submit:active {
	transition: 0s;
	background: rgba(0, 0, 0, 0.2);
}
