.body{
    font-family: Arial, Helvetica, sans-serif
}

.profile {

    border-radius: 50%;
    height: auto;
    width: 100px;
    margin-right: 5px;
}

.profile-pic {
  margin-left:3px;
  margin-right:0;
  border-radius: 50%;
  height: 50px;
  width: 50px;

}