// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1 {

  text-align: center;
  color: #353536;

  }
#search {

  background-color: #353536;
  text-align: center;
  width: 75px;
  
  }

#page_num {

  text-align: center;
  
  }

#friends {

  text-align: center;
  
  }