// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.user-form {
	background-color: white;
	margin: 0 0 20px 0;
	padding: 10px;
	border: 1px solid #b5651d;
	box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	width: 70%;
	margin-left: 20%;
}

.form-field {
	display: grid;
	grid-template-columns: 20% 80%;
	margin: 20px;
}

.field-input-image {
  font-family: stitch;
}

#user_image {
  margin-left: 25%;
  font-family: stitch;
  background: white;
}

.form-submit {
	font-family: stitch;
	border: 0;
	background: white;
	padding: 5px 0;
	width: 17%;
	font-size: 18px;
}

.form-submit:hover {
	background: rgba(0, 0, 0, 0.05);
	cursor: pointer;
}

.form-submit:active {
	transition: 0s;
	background: rgba(0, 0, 0, 0.2);
}

.alert {
	color: red;
}

.username-entry {
	color: black;
	font-family: stitch;
}

.password-entry {
	color: black;
	font-family: stitch;
}

.login-form-submit {
	font-family: stitch;
	border: 0;
	background: white;
	padding: 5px 0;
	font-size: 17px;
	font-weight: bold;
	width: 100px;
	text-align: left;
}

.login-form-submit:hover {
	font-size: 23px;
	transition: all 0.2s ease-in;
}

.login-form-submit:active {
	transition: 0s;
	background: rgba(0, 0, 0, 0.2);
}

.login-with-button {
  display: grid;
	grid-template-columns: 65% 20%;
}

.login-fields {
	margin-right: 10px;
	text-align: right;
}

.login-field {
	margin: 0 0 5px 0;
}

.login-alert {
	font-size: x-small;
}
