/* WELCOME AND LOGIN PAGE STYLING */

.login-and-welcome-container {
    display: flex;
    justify-content: center;
    align-self: center;
}

.login-and-welcome-elements-display {
    width: 35%;
    overflow: hidden;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    background-color: lightblue;
}

.login-and-welcome-flash-messages {
    font-weight: bold;
    font-size: larger;
    color: red;
}

/* WELCOME PAGE STYLING */

.welcome-page-buttons {
    background-color: #0E3B43;
    color: white;
    border: none;
    padding: 2%;
    width: 30%;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
    display: inline-block;
}

.welcome-page-buttons:hover {
    opacity: 60%;
}

/* LOGIN PAGE STYLING */

.login-header {
    background-color: dodgerblue;
    color: whitesmoke;
    border-radius: 20px;
}

.login-username-and-password-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.login-page-buttons {
    background-color: #0E3B43;
    color: white;
    border: none;
    text-decoration: none;
    font-size: 16px;
    padding: 2%;
    width: 40%;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
    display: inline-block;
}

.login-page-buttons:hover {
    opacity: 60%;
}

.login-user-pass-tags {
    font-size: large;
    font-weight: bold;
    padding-bottom: 5%;
    width: 50%;
    height: 50%;
}

.login-text-boxes {
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    border-radius: 20px;
    border: none;
    padding: 2%;
    resize: none;
    font-size: 1em;
}

.login-username-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image-tag-and-fields {
    font-size: larger;
    font-weight: bold;
    text-align: center;
    align-content: center;
}

#dont-have-an-account {
    font-weight: bold;
    font-size: large;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
    .login-and-welcome-elements-display {
        width: 100%;
    }

    .login-username-and-password-fields {
        width: 100%;
    }

    .login-user-pass-tags {
        width: 100%;
    }
}


