/* WELCOME AND LOGIN PAGE STYLING */

.login-and-welcome-container {
    display: flex;
    justify-content: center;
    align-self: center;
    padding-top: 5%;
}

.login-and-welcome-elements-display {
    width: 35%;
    overflow: hidden;
    position: relative;
    padding: 1%;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: medium;
    /* DARK MODE - background-color: #5F358B; */
    background-color: #E4CDFF;
}

.login-and-welcome-flash-messages {
    font-weight: bold;
    padding: 1.5%;
}

/* WELCOME PAGE STYLING */

.welcome-page-buttons {
  /* DARK MODE - background-color: #5F358B; */
  background-color: #E4CDFF;
  /* DARK MODE - color: #F4ECFF; */
  color: #2C064A;
  border: none;
  padding: 0.75%;
  width: 30%;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  border-color: black;
  border-width: medium;
  border-style: solid;
  text-align: center;
  display: inline-block;
  font-family: "Courier New", serif;
}

.welcome-page-buttons:hover, .login-page-buttons:hover {
  /* dark mode - background-color: #8354b3;   */
  background-color: #F4ECFF;
}

/* LOGIN PAGE STYLING */

.login-headers {
    font-weight: bold;
    /* DARK MODE - color: #F4ECFF; */
    color: #2C064A;
    border-radius: 10px;
    font-size: 23px;
    margin: 0;
}

.login-username-and-password-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.login-page-buttons {
  /* DARK MODE - background-color: #5F358B; */
    background-color: #E4CDFF;
    /* DARK MODE - color: #F4ECFF; */
    color: #2C064A;
    border: none;
    text-decoration: none;
    font-size: 16px;
    padding: 0.75%;
    width: 40%;
    cursor: pointer;
    border-radius: 10px;
    border-width: medium;
    border-style: solid;
    border-color: black;
    text-align: center;
    display: inline-block;
    font-family: "Courier New", serif;
}

.login-user-tags {
    font-size: large;
    font-weight: bold;
    padding: 1%;
    width: 50%;
    height: 50%;
}

.login-pass-tags {
    font-size: large;
    font-weight: bold;
    padding: 1%;
    width: 50%;
    height: 50%;
    padding-bottom: 2%;
}

.login-text-boxes {
    padding-left: 3%;
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    border-radius: 10px;
    border: none;
    resize: none;
    font-size: 1em;
    font-family: "Courier New", serif;
    /* DARK MODE - background-color: #5F358B; */
    background-color: #F4ECFF;
}

.login-text-boxes username {
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: medium;
}

.login-username-password-form {
    padding-bottom: 2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#username.login-text-boxes, #password, #user_username, #user_password {
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: medium;
    /* dark mode - background-color: #8354B3; */
    /* not sure what the default background colour is for light mode */
}

.profile-image-label {
    font-size: larger;
    font-weight: bold;
    text-align: center;
    padding-bottom: 2.5%;
}

.profile-image-field {
    padding-bottom: 2.5%;
    padding-left: 16%;
}

#dont-have-an-account {
    font-weight: bolder;
    font-size: medium;
    padding: 1.5%;
    margin: 0;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
    .login-and-welcome-elements-display {
        width: 100%;
    }

    .login-username-and-password-fields {
        width: 100%;
    }

    .login-user-tags {
       width: 80%;
    }

    .login-pass-tags {
        width: 80%;
    }
}

.light {
    color: black;
    background-color: white;
  }
.dark {
    color: white;
    background-color: black;
  }
