<header>
  <div class='nav_bar'>
    <nav>
      <ul>
        <li><%= link_to 'Acebook', posts_path %></li>
        <%# <li>Image of user</li> %>
        <li>Username</li>
        <li><%= link_to 'Sign out', welcome_path %></li>
      </ul>
    </nav>
  </div>
</header>
